1. Design a To-do tracker
2. Meet requirements.
3. Optimizations after fulfilling core requirements.
4. Python with git and github.
5. Write good commits. 'If applied, this commit will "________"'

TODO Application

Need statement:
-Keep track of things in busy life
-TUI to use REPL
-add tasks, delete completed tasks, list tasks, in the order they were inserted
-persist across runs

Requirements from questions:
-multiple users, separate lists
-store data on disk somewhere in user readable format
-no memorization, user friendly interface

stretch goals:
-integrate gpg
-option to export as csv
-timestamps option

types of goals:
minimum viable product (MVP) - basic idea
full requirements - fully baked application, bells and whistles
stretch goals - don't expect to get to, after full goals

